.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
node_modules/
**.DS_Store
Thumbs.db
/.settings/
/.project
/.tern-project
site/
dist/
coverage/
.vscode/
dist.zip
.idea
.env

**.csv

**/data

**_files
