.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
node_modules/
**.DS_Store
Thumbs.db
/.settings/
/.project
/.tern-project
site/
dist/
coverage/
.vscode/
dist.zip
.idea
.env
backend/.env.rtf
.env.rtf
**.csv
experiment_run_through_screen_recording.mov
analysis/screenshots_of_experiment/experiment_run_through_screen_recording.mov
**/data
